.BodyClass {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 20px;
  margin: 0px;
  height: 100vh;
  background-color: black;
}

.BodyClassLight {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 20px;
  margin: 0px;
  height: 100vh;
  background-color: whitesmoke;
}

.BackGround {
  margin: 0px;
  padding: 0px;
  height: 100%;
  /* width: 80%; */
  min-height: min-content;
  background-color: rgb(31, 31, 31);
  border: solid 2px rgb(255, 149, 0);
}

.BackGroundLight {
  margin: 0px;
  padding: 0px;
  height: 100%;
  /* width: 80%; */
  min-height: min-content;
  background-color: white;
  border: solid 2px grey;
}

.Card {
  height: 100%;
  margin: 0px;
  padding: 10px;
  color: whitesmoke;
  overflow: hidden;
}

.CardLight {
  height: 100%;
  margin: 0px;
  padding: 10px;
  color: black;
  overflow: hidden;
}

.CardTop {
  height: 100%;
  margin: 0px;
  padding: 0px;
  flex-direction: row;
  justify-content: space-between;
}

.CardBottom {
  height: 40%;
  margin: 0px;
  padding: 0px;
  align-items: center;
}

.CardTopLeft {
  width: 50%;
  justify-content: space-between;
}

.CardTopCentre {
  width: 100%;
  align-items: center;
  justify-content: center;
}

.CardTopRight {
  width: 50%;
}

.CardProjectsTitle {
  align-items: center;
  color: rgb(255, 149, 0);
}

.CardProjectsTitleLight {
  align-items: center;
  color: black;
}

.CardProjects {
  width: 100%;
  height: 100%;
  align-items: end;
  justify-content: space-between;
  flex-direction: row;
}

.ProjectContainer {
  align-items: center;
  text-align: center;
}

.ProfileImage {
  width: 320px;
  height: 320px;
  border: solid 1px rgb(255, 149, 0);
  transition: 0.4s;
}

.ProfileImageLight {
  width: 320px;
  height: 320px;
  border: solid 1px grey;
  transition: 0.4s;
}

.CentreButton {
  visibility: hidden;
}

.CentreThingy {
  width: 550px;
  border: solid 1px rgb(255, 149, 0);
  visibility: visible;
  transition: 0.4s;
}

.ProjectImage {
  width: 300px;
  height: 160px;
  border: solid 1px rgb(255, 149, 0);
  transition: 0.4s;
}

.ProjectImageLight {
  width: 300px;
  height: 160px;
  border: solid 1px grey;
  transition: 0.4s;
}

.ProjectBackup {
  display: none;
  color: white;
  text-decoration: underline;
}

.ProjectBackupLight {
  display: none;
  color: black;
  text-decoration: underline;
}

.LinkThemed {
  color: white;
  text-decoration: underline;
}

.LinkThemedLight {
  color: black;
  text-decoration: underline;
}

.ThemeButton {
  position: absolute;
  display: flex;
  visibility: hidden;
  left: 1px;
  top: 130px;
  width: 0px;
  height: 0px;
  transform: rotate(270deg);
}

.ThemeButtonText {
  visibility: visible;
  color: white;
  letter-spacing: 2px;
  white-space: nowrap;
  cursor: pointer;
  font-size: 1.2em;
}
.ThemeButtonTextLight {
  visibility: visible;
  color: black;
  letter-spacing: 2px;
  white-space: nowrap;
  cursor: pointer;
  font-size: 1.2em;
}

.ParagraphTitle {
  font-size: 2.4em;
  padding-bottom: 8px;
}

.ParagraphSpacing {
  padding-bottom: 8px;
}

/* Queries */
/* Combo */
/* @media screen and (max-height: 600px) and (max-width: 500px) {
  .ProfileImage {
    display: none;
  }
} */

@media screen and (max-width: 1450px) {
  .ProfileImage {
    width: 200px;
    height: 200px;
  }
  .ProfileImageLight {
    width: 200px;
    height: 200px;
  }
  .CentreThingy {
    width: 350px;
  }
}

@media screen and (max-width: 970px) {
  .CardTopCentre {
    display: none;
  }
  .CardTopLeft {
    width: 100%;
  }
  .CardTopRight {
    width: 100%;
  }
  .ProjectImage {
    width: 200px;
  }
  .ProjectImageLight {
    width: 200px;
  }
}

@media screen and (max-width: 660px) {
  .CardBottom {
    height: max-content;
  }
  .ProjectImage {
    display: none;
  }
  .ProjectImageLight {
    display: none;
  }
  .ProjectBackup {
    display: flex;
  }
  .ProjectBackupLight {
    display: flex;
  }
  p,
  a {
    font-size: 1em;
  }
}

@media screen and (max-height: 900px) {
  .ProfileImage {
    width: 200px;
    height: 200px;
  }
  .ProfileImageLight {
    width: 200px;
    height: 200px;
  }
  .CentreThingy {
    width: 350px;
  }
  /* .ProjectImage {
    width: 200px;
  }
  .ProjectImageLight {
    width: 200px;
  } */
}

@media screen and (max-width: 500px) {
  .ProfileImage {
    width: 160px;
    height: 160px;
  }
  .ProfileImageLight {
    width: 160px;
    height: 160px;
  }
}

@media screen and (max-height: 760px) {
  .CardTopCentre {
    display: none;
  }
  .ProfileImage {
    width: 160px;
    height: 160px;
  }
  .ProfileImageLight {
    width: 160px;
    height: 160px;
  }
  .CardBottom {
    height: max-content;
  }
  .ProjectImage {
    display: none;
  }
  .ProjectImageLight {
    display: none;
  }
  .ProjectBackup {
    display: flex;
  }
  .ProjectBackupLight {
    display: flex;
  }
}

/* @media screen and (max-height: 600px) {
  .ProfileImage {
    display: none;
  }
  .ProfileImageLight {
    display: none;
  }
} */

@media screen and (max-width: 400px) {
  .ProfileImage {
    width: 100px;
    height: 100px;
  }
  .ProfileImageLight {
    width: 100px;
    height: 100px;
  }
  .CardTopLeft {
    width: 120px;
  }
}

/* Themes */
.ThemeHTML {
  color: #e34c26;
}
.ThemeCSS {
  color: #663399;
}
.ThemeJavaScript {
  color: #f7df1e;
}
.ThemeReact {
  color: #61dbfb;
}

.ThemeLight {
  color: black;
}
